:root {
  --primary-color: #eac696; /* Define your primary color */
  --secondary-color: #533535; /* Define your secondary color */
  --accent-color: #2ecc71; /* Define your text color */
}

* {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

body {
  max-width: 1200px;
  margin: 1% auto;
}
main,
header {
  width: 100%;
  border: solid 0.1em var(--secondary-color);
  border-radius: 0.5em;
  padding: 1%;
  background-color: var(--primary-color);
  display: flex;
}
header {
  align-items: center;
  justify-content: space-between;
  margin-bottom: -0.1em;
}
header > h1 {
  width: 25%;
  font-size: 3em;
  margin: 0.5%;
}
header > nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
header > nav > button {
  margin: 0.5%;
  padding: 1.5%;
  font-size: large;
  width: 25%;
  height: 100%;
  border-style: inset;
  border-width: 0.1em;
  background-color: #ffacac;
}
section {
  display: flex-colomn;
  padding: 1%;
}
#setup {
  width: 35%;
}
#setup > h1,
#setup > h2 {
  flex: 0 1 auto;
}
#setup > form {
  flex: 0 1 auto;
}
#start-form {
  display: flex;
  align-items: center;
}
.timer {
  display: flex;
  flex-direction: column;
}

#timer-display {
  background-color: black;
  color: white;
  padding: 5px;
  font: monospace;
  font-weight: 600;
  font-size: 36px;
}
.score {
  margin: 5px 40px;
}
td,
th {
  padding: 2px 5px;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.big-text {
  font-size: 24px;
}

#game {
  display: flex;
  flex-direction: column;
  border-left: solid 0.2em var(--secondary-color);
  width: 70%;
  flex: 1;
}
input {
  margin: 1%;
}

h2 {
  border-bottom: solid 0.2em var(--secondary-color);
}
.card {
  background-color: #f5f5f5;
  height: 4.5em;
  width: 3em;
  border: solid 0.1em var(--secondary-color);
  border-radius: 10px;
  font-size: 2rem;
  margin-top: 0.1rem;
  padding: 0;
}
.card p {
  background-color: #f5f5f5;
  font-size: 1.5rem;
  margin: 2rem 0.1rem;
}

.card:hover {
  border-width: 0.2em;
}
main > div {
  margin: 1%;
}

.answer {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  width: 6rem;
  height: 6rem;
  border: solid 0.2em var(--secondary-color);
  border-radius: 6rem;
  margin: 0 4%;
  color: var(--secondary-color);
}
#current-problem {
  border-bottom: solid 0.5em var(--secondary-color) 80;
  margin-bottom: 1%;
  padding-bottom: 4%;
}

section > div {
  padding: 0 1rem 2rem;
}

.answer:focus {
  border: solid 0.21em var(--secondary-color);
}

.qa-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
#is-correct-text {
}

#is-correct-image,
#blank-image {
  display: flex;
  flex-direction: column;
  width: 30%;
}
img {
  margin: 1%;
  width: 10em;
}
